@if (selectedParticipant | async; as selectedParticipant){
    <app-content-header 
        [icon]="'supervisor_account'" 
        [title]="selectedParticipant.businessName" 
        [desc]="'View information about the Selected Participant.'"
        [hideBreadcrumb]="false"
        [hasBgImage]="true" 
        [class]="'pb-5'"></app-content-header>
    
       
    <div fxLayout="column" class="p-2">
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="end center" class="px-2 user-toolbar">
            <div class="action-button" fxLayoutGap="25px">
                <button mat-raised-button color="primary" [routerLink]="['/partners',selectedParticipant.id, 'edit']">
                  <mat-icon>edit</mat-icon>&nbsp;&nbsp;Edit
                </button>
                <button mat-raised-button color="warn" >
                    <mat-icon>delete</mat-icon>&nbsp;&nbsp;Delete
                  </button>
              </div>
        </mat-toolbar>
       
        <div fxLayout="column" class="p-2">
          <h2 class="mat-h2" fxFlexFill fxLayoutAlign="center">{{ selectedParticipant.businessName }} Details</h2>
          <div fxLayout="row wrap" fxLayoutGap="2%" class="m-b-20">
            <div fxFlex="49" class="p-2">
              <mat-card class="custom-card">
                  <mat-card-header class="bg-accent" fxLayoutAlign="space-between center">
                      <mat-card-title class="m-0"><h3>d</h3></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="py-3">
                      <div fxLayout="column">
                        <div fxFlexFill>
                          <span fxFlex="40%">ID:</span>
                          <span fxFlex="60%">{{ selectedParticipant.jgpId }}</span>
                        </div>
                
                        <div fxFlexFill>
                          <span fxFlex="40%">Phone Number:</span>
                          <span fxFlex="60%">{{ selectedParticipant.phoneNumber }}</span>
                        </div>
                      </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">
                  </mat-card-actions>
              </mat-card>
          </div>
          <div fxFlex="49" class="p-2">
            <mat-card class="custom-card">
                <mat-card-header class="bg-accent" fxLayoutAlign="space-between center">
                    <mat-card-title class="m-0"><h3>Accent Card</h3></mat-card-title>
                </mat-card-header>
                <mat-card-content class="py-3">
                  <div fxLayout="column">
                    <div fxFlexFill>
                      <span fxFlex="40%">ID:</span>
                      <span fxFlex="60%">{{ selectedParticipant.jgpId }}</span>
                    </div>
            
                    <div fxFlexFill>
                      <span fxFlex="40%">Phone Number:</span>
                      <span fxFlex="60%">{{ selectedParticipant.phoneNumber }}</span>
                    </div>
                  </div>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">
                </mat-card-actions>
            </mat-card>
        </div>
          </div>
          <div fxLayout="column" fxLayoutGap="2%" class="m-b-20">
            <div fxFlex="100" class="p-2">
              <mat-card class="custom-card">
                  <mat-card-header class="bg-accent" fxLayoutAlign="space-between center">
                      <mat-card-title class="m-0"><h3>BMO Trainings</h3></mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="py-3">
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nihil quis mollitia odio magni eaque id porro unde inventore recusandae. Debitis necessitatibus voluptates magnam eveniet odit distinctio odio provident sit.
                      </p>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">
                  </mat-card-actions>
              </mat-card>
          </div>
          <div fxFlex="100" class="p-2">
            <mat-card class="custom-card">
                <mat-card-header class="bg-accent" fxLayoutAlign="space-between center">
                    <mat-card-title class="m-0"><h3>Loan Accounts</h3></mat-card-title>
                </mat-card-header>
                <mat-card-content class="py-3">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nihil quis mollitia odio magni eaque id porro unde inventore recusandae. Debitis necessitatibus voluptates magnam eveniet odit distinctio odio provident sit.
                    </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayoutAlign="end center" class="secondary-text-color">
                </mat-card-actions>
            </mat-card>
        </div>
          </div>
        </div>
    </div>
    }