<div fxLayout="column" ngClass="chart-container">
  <button mat-icon-button class="close-button" (click)="onCloseClick()" fxFlex="4%">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<div fxLayout="column" fxLayoutAlign="center center" fxFlex="88%" id="chartDiv" class="chart-props">
<h1 mat-dialog-title fxFlex="10%" fxFlexAlign="center center">{{data.chartTitle}}</h1>
<div mat-dialog-content fxLayout="row" fxFlex="90%" class="chart-props">
  <div class="chart-props" fxFlex="100%">
  @if (data.chartType === 'app-pie-chart') {
      <app-pie-chart 
      [data]="data.chartData" 
      [showLegend]="true" 
      [colorScheme]="data.chartSColorScheme" 
      [showLabels]="data.chartShowLabels" 
      [explodeSlices]="data.chartExplodeSlices" 
      [doughnut]="data.chartIsDoughnut" 
      [chartFormatLabel]="data.chartFormatLabel"
      /> 
  }
  @if (data.chartType === 'kenyan-county-map') {
    <app-kenyan-map 
    [mapWidth]="450" 
    [mapHeight]="350" 
    [countyData]="data.chartData" 
    [countyDataToBePicked]="data.countyDataToBePicked" 
    [kenyanMapChartContainer]="data.mapContainerElement" />
  }
  @if (data.chartType === 'ngx-charts-bar-vertical') {
    <ngx-charts-bar-vertical
    [scheme]="data.chartSColorScheme"
    [results]="data.chartData"
    [gradient]="data.chartGradient"
    [xAxis]="data.chartShowXAxis"
    [yAxis]="data.chartShowYAxis"
    [legend]="data.chartShowLegend"
    [showXAxisLabel]="data.chartShowXAxisLabel"
    [showYAxisLabel]="data.chartShowYAxisLabel"
    [xAxisLabel]="data.chartXAxisLabel"
    [yAxisLabel]="data.chartYAxisLabel"
    (select)="onSelect($event)"
/> 
  }
  @if (data.chartType === 'ngx-charts-bar-vertical-2d') {
    <ngx-charts-bar-vertical-2d
      [scheme]="data.chartSColorScheme"
      [results]="data.chartData"
      [gradient]="data.chartGradient"
      [xAxis]="data.chartShowXAxis"
      [yAxis]="data.chartShowYAxis"
      [legend]="data.chartShowLegend"
      [showXAxisLabel]="data.chartShowXAxisLabel"
      [showYAxisLabel]="data.chartShowYAxisLabel"
      [xAxisLabel]="data.chartXAxisLabel"
      [yAxisLabel]="data.chartYAxisLabel"
      (select)="onSelect($event)"
  />   
  }
  @if (data.chartType === 'ngx-charts-bar-horizontal') {
    <ngx-charts-bar-horizontal
    [scheme]="data.chartSColorScheme"
    [results]="data.chartData"
    [gradient]="data.chartGradient"
    [xAxis]="data.chartShowXAxis"
    [yAxis]="data.chartShowYAxis"
    [legend]="data.chartShowLegend"
    [showXAxisLabel]="data.chartShowXAxisLabel"
    [showYAxisLabel]="data.chartShowYAxisLabel"
    [xAxisLabel]="data.chartXAxisLabel"
    [yAxisLabel]="data.chartYAxisLabel"
    (select)="onSelect($event)"
/>  
  }

  @if (data.chartType === 'ngx-charts-line-chart') {
    <ngx-charts-line-chart
    [scheme]="data.chartSColorScheme"
    [results]="data.chartData"
    [gradient]="data.chartGradient"
    [xAxis]="data.chartShowXAxis"
    [yAxis]="data.chartShowYAxis"
    [legend]="data.chartShowLegend"
    [showXAxisLabel]="data.chartShowXAxisLabel"
    [showYAxisLabel]="data.chartShowYAxisLabel"
    [xAxisLabel]="data.chartXAxisLabel"
    [yAxisLabel]="data.chartYAxisLabel"
    [autoScale]="data.chartAutoScale"
    [roundDomains]="data.chartRoundDomains" 
    (select)="onSelect($event)"
/>  
  }
</div>     
</div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxFlex="8%" fxLayoutGap="2%">
  <button mat-raised-button color="primary">Download PDF</button>
  <button mat-raised-button color="primary" (click)="downloadChart()">Download PNG (Image)</button>
</div>
</div>