<div fxLayout="row wrap" #resizedDiv>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50" class="p-2"> 
        <mat-card class="p-0 gradient-purple" #loansDisbursedByGenderChart>
            <app-pie-chart 
            [data]="loansDisbursedByGender" 
            [showLegend]="loansDisbursedByGenderShowLegend" 
            [colorScheme]="chartSColorScheme" 
            [showLabels]="loansDisbursedByGenderShowLabels" 
            [explodeSlices]="loansDisbursedByGenderExplodeSlices" 
            [doughnut]="loansDisbursedByGenderDoughnut" 
            [chartTitle]="loansDisbursedByGenderChartTitle" 
            />
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50" class="p-2"> 
        <mat-card class="p-0 gradient-teal">
            <app-pie-chart 
            [data]="loansDisbursedByPipeline" 
            [showLegend]="loansDisbursedByPipelineShowLegend" 
            [colorScheme]="chartSColorScheme" 
            [showLabels]="loansDisbursedByPipelineShowLabels" 
            [explodeSlices]="loansDisbursedByPipelineExplodeSlices" 
            [doughnut]="loansDisbursedByPipelineDoughnut" 
            [chartTitle]="loansDisbursedByPipelineChartTitle" 
            />
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50" class="p-2"> 
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>Loans Disbursed By Quality</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                <ngx-charts-bar-vertical
                    [scheme]="chartSColorScheme"
                    [results]="loansDisbursedByQuality"
                    [gradient]="gradient"
                    [xAxis]="loansDisbursedByQualityShowXAxis"
                    [yAxis]="loansDisbursedByQualityShowYAxis"
                    [legend]="loansDisbursedByQualityShowLegend"
                    [showXAxisLabel]="loansDisbursedByQualityShowXAxisLabel"
                    [showYAxisLabel]="loansDisbursedByQualityShowYAxisLabel"
                    [xAxisLabel]="loansDisbursedByQualityYAxisLabel"
                    [yAxisLabel]="loansDisbursedByQualityXAxisLabel"
                    (select)="onSelect($event)"
                />         
            </div>
        </mat-card>
    </div>    
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50" class="p-2"> 
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{TANeedsByGenderChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                <ngx-charts-bar-vertical-2d
                    [scheme]="chartSColorScheme"
                    [results]="TANeedsByGender"
                    [gradient]="gradient"
                    [xAxis]="TANeedsByGenderShowXAxis"
                    [yAxis]="TANeedsByGenderShowYAxis"
                    [legend]="TANeedsByGenderShowLegend"
                    [showXAxisLabel]="TANeedsByGenderShowXAxisLabel"
                    [showYAxisLabel]="TANeedsByGenderShowYAxisLabel"
                    [xAxisLabel]="TANeedsByGenderXAxisLabel"
                    [yAxisLabel]="TANeedsByGenderYAxisLabel"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical-2d>        
            </div>
        </mat-card>
    </div>   
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50" class="p-2"> 
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-title>{{taTrainedBySectorChartTitle}}</mat-card-title>
            </mat-card-header>
            <div class="w-100 h-300p">
                <ngx-charts-bar-horizontal
                    [scheme]="chartSColorScheme"
                    [results]="taTrainedBySector"
                    [gradient]="gradient"
                    [xAxis]="taTrainedBySectorShowXAxis"
                    [yAxis]="taTrainedBySectorShowYAxis"
                    [legend]="taTrainedBySectorShowLegend"
                    [showXAxisLabel]="taTrainedBySectorShowXAxisLabel"
                    [showYAxisLabel]="taTrainedBySectorShowYAxisLabel"
                    [xAxisLabel]="taTrainedBySectorYAxisLabel"
                    [yAxisLabel]="taTrainedBySectorXAxisLabel"
                    (select)="onSelect($event)"
                />         
            </div>
        </mat-card>
    </div>  
</div>