<h1 mat-dialog-title>
    @if (user.id) { 
        <span>Edit</span>
    } @else {
        <span>Add</span>
    } 
     user 
</h1>
<div mat-dialog-content>
    <form [formGroup]="createUserForm" class="user-form">      
        <mat-tab-group class="vertical-tabs">
            <mat-tab label="Personal" formGroupName="profile">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Surname</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="male" labelPosition="before">Male</mat-radio-button>
                        <mat-radio-button value="female" labelPosition="before">Female</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field class="w-100">
                        <mat-label>Image url</mat-label>
                        <input matInput formControlName="image">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>User Roles</mat-label>
                        <mat-select formControlName="userRoles" multiple>
                            @for (userRole of allUserRoles; track $index) {
                                <mat-option [value]="userRole.roleName">{{ userRole.roleName }}</mat-option>
                            }
                          
                        </mat-select>
                      </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Work" formGroupName="work">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field appearance="outline">
                        <mat-label>Partner</mat-label>
                        <mat-select formControlName="partnerId" required>
                            @for (partner of partners; track partner) {
                                <mat-option [value]="partner.id">{{partner.partnerName}}</mat-option>
                              }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Position</mat-label>
                        <input matInput formControlName="designation">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Contacts" formGroupName="contacts">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="username">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="cellPhone">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="town">
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" (click)="onSubmitEditUser()" [mat-dialog-close]="createUserForm.value" [disabled]="!createUserForm.valid">{{ user.id ? 'Update' : 'Save' }}</button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>