<div fxLayout="column" fxLayoutAlign="center center" class="user-block" [class.py-3]="settings.menuType != 'mini'" [class.py-2]="settings.menuType == 'mini'">
    <img src="img/users/default-user.jpg" alt="user-image">
    @if (settings.menuType != 'mini') {
        <h2 class="mt-2">{{currentUser.userFullName}}</h2>
    }
    @if (settings.menuType == 'default') {
        <p class="secondary-text-color">{{currentUser.email}}</p>
    } 
</div>
<mat-divider></mat-divider>
<ng-scrollbar id="vertical-menu" orientation="vertical">
    <app-vertical-menu [menuItems]="menuItems" [menuParentId]="0"></app-vertical-menu> 
</ng-scrollbar>  