    
    <app-content-header 
    [icon]="'supervisor_account'" 
    [title]="'Edit User'" 
    [desc]="'Provide information for all required fields to edit a user.'"
    [hideBreadcrumb]="false"
    [hasBgImage]="true" 
    [class]="'pb-5'"></app-content-header>

   


    <div fxLayout="column" fxLayout.gt-sm="row wrap" class="p-2" fxLayoutAlign="center">
    <div fxFlex="80" class="p-2"> 
        <mat-card>
            <mat-card-header fxLayoutAlign="center">                
                <mat-card-title>Update  User</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayoutAlign="center" class="pt-3">
                <form [formGroup]="editUserForm" class="partner-form">  
                  <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">     

                    <mat-form-field fxFlex="48%">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>
                    <mat-form-field fxFlex="48%">
                        <mat-label>Surname</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>


                    <div fxFlex="48%" fxLayoutGap="2%">
                      <mat-label>Gender: </mat-label>
                      <mat-radio-group formControlName="gender">
                        <mat-radio-button value="male" labelPosition="before">Male</mat-radio-button>
                        <mat-radio-button value="female" labelPosition="before">Female</mat-radio-button>
                    </mat-radio-group>
                  </div>

                  <mat-form-field appearance="fill" fxFlex="48%">
                      <mat-label>User Roles</mat-label>
                      <mat-select formControlName="userRoles" multiple>
                          @for (userRole of allUserRoles; track $index) {
                              <mat-option [value]="userRole.roleName">{{ userRole.roleName }}</mat-option>
                          }
                        
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="48%">
                      <mat-label>Partner</mat-label>
                      <mat-select formControlName="partnerId" required>
                          @for (partner of partners; track partner) {
                              <mat-option [value]="partner.id">{{partner.partnerName}}</mat-option>
                            }
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex="48%">
                      <mat-label>Position</mat-label>
                      <input matInput formControlName="designation">
                  </mat-form-field>
                
                  
                <mat-form-field fxFlex="48%">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="cellPhone">
                </mat-form-field>

                <mat-form-field fxFlex="48%">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="town">
              </mat-form-field>

              <div fxLayout="row" fxLayoutAlign="end center" fxFlex="100%" fxLayoutGap="2%">
                      <button mat-raised-button color="warn">Cancel</button>
                      <button mat-raised-button color="primary" (click)="onSubmitEditUserer()" [mat-dialog-close]="editUserForm.value" [disabled]="!editUserForm.valid">Update</button>
                        
                    </div>
                  </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>        
</div>