

<mat-sidenav-container class="h-200">
    <div fxLayout="row" fxLayoutAlign="center center" class="h-200">
        <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6">
            <app-content-header 
            [icon]="'lock_reset'" 
            [title]="'Change Password'" 
            [desc]="'Password must be at least 8 characters, at least 1 lower case english letter (a-z), at least 1 upper case english letter (A-Z), at least one digit (0-9) and at least one special character (@#$%^&+=)'"
            [hideBreadcrumb]="false"
            [hasBgImage]="true" 
            [class]="'pb-5'"></app-content-header>
            <div class="p-3">
                <mat-form-field class="w-100">
                    <mat-label>Current Password</mat-label>
                    <mat-icon matPrefix class="secondary-text-color">lock</mat-icon>
                    <input matInput formControlName="password" type="password">
                    <mat-error>
                        @if (passwordChangeForm.controls.password.errors?.required) {
                            Current Password is required
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>New Password</mat-label>
                    <mat-icon matPrefix class="secondary-text-color">lock</mat-icon>
                    <input matInput formControlName="newPass" type="password">
                    <mat-error>
                        @if (passwordChangeForm.controls.newPass.errors?.required) {
                            New Password is required
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <mat-icon matPrefix class="secondary-text-color">password_2</mat-icon>
                    <input matInput formControlName="passConfirm" type="password">
                    <mat-error>
                        @if (passwordChangeForm.controls.passConfirm.errors?.required) {
                            Password confirmation is required
                        }
                    </mat-error>
                </mat-form-field>               
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit" [disabled]="!passwordChangeForm.valid">SUBMIT</button>
            </div>
        </form>
    </div>
</mat-sidenav-container>