<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
        <mat-card class="gradient-orange tile p-2">
            <mat-icon>group</mat-icon>
            <h2>{{highLevelSummary!.businessesTrained}}</h2>
            <p>Businesses Trained</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
        <mat-card class="gradient-pink tile p-2">
            <mat-icon>pie_chart</mat-icon>
            <h2>{{highLevelSummary!.businessesLoaned}}</h2>
            <p>Businesses Loaned</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
        <mat-card class="gradient-gray tile p-2">
            <mat-icon>monetization_on</mat-icon>
            <h2>KES {{highLevelSummary!.amountDisbursed}}</h2>
            <p>Disbursed Loan Amount</p>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="33.3" fxFlex.sm="50" class="p-2">
        <mat-card class="gradient-brown tile p-2">
            <mat-icon>monetization_on</mat-icon>
            <h2>KES {{highLevelSummary!.outStandingAmount}}</h2>
            <p>Outstanding Loan Amount</p>
        </mat-card>
    </div>
</div>