<h1 mat-dialog-title>
    @if (partner && partner.id) { 
        <span>Edit</span>
    } @else {
        <span>Add</span>
    } 
     Partner 
</h1>
<div mat-dialog-content>
    <form [formGroup]="partnerForm" class="partner-form">      
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Partner Name</mat-label>
                        <input matInput formControlName="partnerName">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type" required>
                            <mat-option value="BMO">BMO</mat-option>
                            <mat-option value="FI">Financial Intermediary</mat-option>
                            <mat-option value="JGP">JGP</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" (click)="onSubmitEditPartner()" [mat-dialog-close]="partnerForm.value" [disabled]="!partnerForm.valid">{{ partner && partner.id ? 'Update' : 'Save' }}</button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>